# Ignore virtual environment folders
.venv/
env/
venv/

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# VSCode settings folder (optional)
.vscode/

# Ignore Docker files
Dockerfile
docker-compose.yml
*.dockerfile
.dockerignore
docker-compose.debug.yml

# Ignore the dataset
data
pipe_data
1_pipe
Pipe Counter


# Ignore the local models
best_pipe_model_v1.pth
best_pipe_model_v2.pth
final_pipe_model_v1.pth
final_pipe_model_v2.pth

pipe_counter_model_train.ipynb